*.iml
.gradle/
.idea/
*.setting
out/
**/build/
**/db/
/db/
**/**/build/
**/**/db
**/**/**/build
**/**/**/db
/index.html
*.log
files/**
version.info
**/client_secrets.json
app/files
positions.gps
positions_bk.gps